/portfolio-builder/wp-admin/
/portfolio-builder/wp-includes/
/portfolio-builder/wp-content/plugins/akismet/
/portfolio-builder/wp-content/plugins/hello.php
/portfolio-builder/wp-content/uploads/
/portfolio-builder/wp-config.php
/portfolio-builder/.htaccess
/portfolio-builder/error_log
/portfolio-builder/index.php

# Allow custom theme/plugin
!portfolio-builder/wp-content/themes/hello-elementor/**
!portfolio-builder/wp-content/plugins/advanced-custom-fields/**